<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal-container">
  <div class="modal-header">
    <span class="close-modal" (click)="closeModal()">Salir ✕</span>
    <h2>Registrar Movimiento</h2>
  </div>

  <form class="add-client-form" [formGroup]="formMovements">

    <div class="form-group">
      <label for="account">Cuenta</label>
      <select id="account" formControlName="account">
        <option value="">Seleccione una cuenta</option>
        <option *ngFor="let account of accounts" [value]="account.idCuenta">
          {{ account.numCuenta }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="typeMovement">Tipo de movimiento</label>
      <select id="typeMovement" formControlName="typeMovement">
        <option value="">Seleccione un tipo de movimiento</option>
        <option value="RETIRO">RETIRO</option>
        <option value="DEPOSTIO">DEPOSITO</option>
      </select>
    </div>

    <div class="input-group">
      <input type="text" placeholder=" " formControlName="value">
      <label class="input-title">Valor</label>
    </div>

    <div class="add-client-button" (click)="registerEditMovement()">
      <button class="button">
        {{ isEdit ? "Editar Movimiento" : "Registrar Movimiento" }}
      </button>
    </div>
  </form>
</div>
