<div class="modal-overlay">
  <div class="modal-container">
    <span style="cursor: pointer" (click)="closeModal()">Salir</span>

    <form class="grid add-client-form" [formGroup]="formClient">
      <div class="input-group">
        <label class="input-title">Nombre del cliente</label>
        <input type="text" formControlName="name" />
      </div>

      <div class="input-group">
        <label class="input-title">Contraseña</label>
        <input type="password" formControlName="password" />
      </div>

      <div>
        <span class="input-title">Género</span>
        <select formControlName="gender">
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
        </select>
      </div>

      <div class="input-group">
        <label class="input-title">Edad</label>
        <input type="text" formControlName="age" />
      </div>

      <div>
        <span class="input-title">Estado Cliente</span>
        <select formControlName="status">
          <option [ngValue]="null" disabled selected>Seleccione un estado</option>
          <option [ngValue]="true">ACTIVO</option>
          <option [ngValue]="true">INACTIVO</option>
        </select>
      </div>

      <div class="input-group">
        <label class="input-title">Identificación</label>
        <input type="text" formControlName="identification" />
      </div>

      <div class="input-group">
        <label class="input-title">Dirección</label>
        <input type="text" formControlName="address" />
      </div>

      <div class="input-group">
        <label class="input-title">Teléfono</label>
        <input type="text" formControlName="phone" />
      </div>

      <div class="add-client-button" (click)="registerEditClient()">
        <button class="button" type="button">
          {{ isEdit ? "Editar cliente" : "Registrar cliente" }}
        </button>
      </div>
    </form>
  </div>
</div>
