html {
  box-sizing: border-box;
  font-size: 62.5%; /* Hace que 1rem = 10px (62.5% de 16px) */
}

body {
  font-size: 1.6rem;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* === SWEETALERT2 CUSTOM STYLES === */
.swal2-toast .swal2-title {
  font-size: 1.5rem;
}

.swal2-toast div:where(.swal2-html-container) {
  font-size: 1.3rem !important;
}
